/* CSS declarations go here */

.success{
  background-color: green;
}

.no-right-padding{
  padding-right: 0 !important;
}

div.btn{
  display: block !important;
}

.navbar{
  border-radius: 0;
  margin-bottom: 5px !important;
}

.nav-profile{
  padding: 10px 0;
}

.margin-five{
  margin-bottom: 5px;
}

/*
.navbar-header{
  float: left;
}

.navbar-nav{
  margin: 0;
  float: right;
}
*/
/*
.navbar-form.navbar-left{
  padding-left: 0;
}

.navbar-brand{
  padding: 9px !important;
}
.navbar-brand>img{
  display: inline-block;
  width:  32px;
  height: 32px;
}*/

.navbar .container{
  border: none;
  padding-top: 5px;
}

.nav-tabs{
  border-bottom: 0 none;
}

.nav-tabs>li>a{
  padding: 7px 10px;
  line-height: 33px;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a>*{
  vertical-align: middle;
}

.glyphicon.lg{
  font-size: 140%;
}

.dropdown.open>a,
.dropdown.open>a:hover,
.dropdown.open>a:active{
  background-color: white;
  border-bottom-color: transparent;
}

.profile-picture{
/*  margin-right: 6px;*/
  display: inline-block;
  width:  auto;
  height: 33px;
}

.inline-block{
  display: inline-block;
}

.account-balance{
  font-size: 30px;
}

.keypad .row .cell:first-child{
  padding-left: 0;
}

.keypad .row .cell:last-child{
  padding-right: 0;
}

.keypad .cell{
  padding: 3px;
  float: left;
  position: relative;

  width: calc(100% / 3);
}

.keypad button{
  width: 100%;
  font-size: 150%;
}

.user-list{
/*  height: 100%;
  overflow-y: auto: */

  margin-bottom: 12px;
}

.user-list .user{
  margin-top: 2px;
}

.user-list .user img{
  width: 32px;
  height: 32px;
}

.user-list.nav-tabs{
  border-bottom: 1px solid #337AB7;
}

.user-list.nav-tabs>li>a{
  padding: 6px;
}

.user-list.nav-tabs>li:hover>a{
  border-bottom: 1px solid #337AB7;
}

.user-list.nav-tabs>li.active>a,
.user-list-modal .user.active .btn-select-user{
  color: white !important;
  background-color: #337AB7;
  border-color: #337AB7;

  background-image: radial-gradient(ellipse farthest-corner at center bottom, #337AB7 30%, #5EC9FF 200%);
}

.user-list-modal{
  margin: 0;
}
.user-list-modal .user{
  padding: 6px;
}
.user-list-modal .user .btn-select-user{
  text-align: left;
  white-space: normal;
  padding: 6px;
  outline: none;
}

.user-list-modal .user .img-round{
  float: left;
  margin-right: 6px;

  width: 48px;
  height: auto;
}

.user-list-modal .user.active .user-name{
  color: white !important;
}

.user-list-modal .user .user-name{
  /*float: left;*/
  /*font-size: 100%;*/

  word-break: break-all;
}

.input-group-btn.btn-backspace{
  padding: 0;
  font-size: 100%;
}
#login-dropdown-list {
    position: relative;
    top: -1px;
    left: -1px;
    height: 270px;
}
.btn-transfer{
  font-size: 200%;
  vertical-align: middle;
}

.btn-transfer i{
  vertical-align: middle;
}

.v-middle{
  vertical-align: middle;
}

.table > tbody > tr > td{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.tr-date{
  width: 40px;
}

.tr-action-group{
  display: inline-block;
  white-space: nowrap;
}

@media (min-width: 768px){
  .user-list.nav-tabs{
    border-bottom: 0;
    /*border-right: 1px solid #337AB7;*/
  }

  .user-list.nav-tabs>li:hover>a{
    border-bottom: 1px solid #EEE;
  }

  .user-list.nav-tabs>li.active:hover>a{
    border-bottom: 1px solid #337AB7;
  }

  .user-list.nav-tabs>li{
    float: none;
    display: block;
  }

  .user-list.nav-tabs>li>a{
    border-radius: 4px;
  }

  .keypad .btn-lg,
  .btn-transfer{
    font-size: 250%;
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .modal-dialog {
    width: 700px; 
  }
}