<nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: title == 'My Account'}">
        <a href="/">
          <img ng-if="currentUser.services.facebook" class="profile-picture" ng-src="//graph.facebook.com/{{ currentUser.services.facebook.id }}/picture?width=64&height=64" />

          <img ng-if="!currentUser.services.facebook" class="profile-picture" ng-src="//graph.facebook.com/2/picture?width=64&height=64" />
          <span class="hidden-xs" ng-if="currentUser">{{ currentUser.profile.name }}</span>
        </a>
      </li>

      <li role="presentation" ng-class="{active: title == 'Transactions'}">
        <a href="/transactions">
          <i class="fa fa-list-alt fa-lg"></i>
          <span class="hidden-xs">Transactions</span>
        </a>
      </li>


      <li role="presentation" class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog fa-lg"></i>
          <span class="hidden-xs">Settings</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

<!--           <li role="presentation">
            <a href="#" ng-click="leaveGame()">
              <span>Leave game</span>
            </a>
          </li> -->

          <li role="presentation">
            <a href="#" ng-click="reset()">
              <span>Reset game</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#" ng-click="logout()">
              <span>Sign out</span>
            </a>
          </li>
        </ul>
      </li>

      <li role="presentation" class="pull-right" ng-class="{active: title == 'Bank'}">
        <a href="/bank">
          <i class="fa fa-university fa-lg"></i>
          <span class="hidden-xs">Bank</span>
        </a>
      </li>
    </ul>

<!--     <ul class="nav navbar-nav navbar-right">
      <li ng-class="{active: title == 'My Account'}"><a href="/">My Account</a></li>
      <li ng-class="{active: title == 'Bank'}"><a href="/bank">Bank</a></li>
    </ul> -->

<!-- 
    <div class="collapse navbar-collapse" id="main-menu">

      <ul class="nav navbar-nav navbar-right">

        <li data-toggle="collapse" data-target="#main-menu" class="">
          <span>Reset game</span>
        </li>
        <li>
          <meteor-include src="loginButtons"></meteor-include>
        </li>
      </ul>

    </div> -->

  </div>
</nav>