<div>
  <div class="container-fluid">
    <div class="keypad row">
      <div class="col-xs-12">
        <div class="row">
          <div class="cell"><button ng-click="pressNum('7')" class="btn btn-lg btn-primary">7</button></div>
          <div class="cell"><button ng-click="pressNum('8')" class="btn btn-lg btn-primary">8</button></div>
          <div class="cell"><button ng-click="pressNum('9')" class="btn btn-lg btn-primary">9</button></div>
        </div>
        <div class="row">
          <div class="cell"><button ng-click="pressNum('4')" class="btn btn-lg btn-primary">4</button></div>
          <div class="cell"><button ng-click="pressNum('5')" class="btn btn-lg btn-primary">5</button></div>
          <div class="cell"><button ng-click="pressNum('6')" class="btn btn-lg btn-primary">6</button></div>
        </div>
        <div class="row">
          <div class="cell"><button ng-click="pressNum('1')" class="btn btn-lg btn-primary">1</button></div>
          <div class="cell"><button ng-click="pressNum('2')" class="btn btn-lg btn-primary">2</button></div>
          <div class="cell"><button ng-click="pressNum('3')" class="btn btn-lg btn-primary">3</button></div>
        </div>
        <div class="row">
          <div class="cell"><button ng-click="clear()" class="btn btn-lg btn-danger">C</button></div>
          <div class="cell"><button ng-click="pressNum('0')"  class="btn btn-lg btn-primary">0</button></div>
          <div class="cell"><button ng-click="pressNum('00')" class="btn btn-lg btn-primary btn-default">00</button></div>
        </div>
      </div>
    </div>

  </div>
</div>