<div class="row">

  <div class="col-sm-3">

    <ul class="nav nav-tabs user-list">
      <li role="presentation" ng-repeat="user in users" class="user"
        ng-class="{active : user == selectedUser }">

        <a href="javascript: void(0)" ng-click="setSelectedUser(user.id)">
          <img ng-src="//graph.facebook.com/{{ user.fbid }}/picture?width=64&height=64" class="img-round" />
          <span class="small hidden-xs">{{ user.name }}</span>
        </a>

      </li>
    </ul>

    <div class="modal fade" id="selectPlayerModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalTitle">Select player to transfer to</h4>
          </div>
          <div class="modal-body">
            <div class="row user-list-modal">
              <div ng-repeat="user in users" class="user col-xs-12 col-sm-4 col-md-3 col-lg-3"
                ng-class="{active : user == selectedUser }">

                <button ng-click="setSelectedUser(user.id)" class="btn btn-default btn-block btn-lg clearfix">
                  <img ng-src="//graph.facebook.com/{{ user.fbid }}/picture?width=72&height=72" class="img-round" />
                  <span class="small user-name">{{ user.name }}</span>
                </button>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" ng-disabled="currentPayment == 0" class="btn btn-warning btn-lg" data-dismiss="modal" ng-click="payTo(selectedUser, currentPayment)">
              <i class="glyphicon glyphicon-transfer"></i>
              Transfer
            </button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-9">

  <form class="form">

    <fieldset ng-disabled="loading()">

      <div class="form-group margin-five">
        <div class="input-group">

          <div class="input-group-addon">$</div>

          <label class="form-control input-lg text-right">
            {{ currentPayment | currency: '': 0 }}
          </label>

          <div class="input-group-btn btn-backspace">
            <div class="btn btn-lg btn-danger" ng-click="backspace()">
              <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <keypad ng-model="currentPayment"></keypad>
      </div>

      <div class="form-group">
        <button type="button" ng-disabled="currentPayment == 0" ng-click="payTo(selectedUser, currentPayment)" class="btn btn-lg btn-warning btn-block btn-transfer">
          <i class="glyphicon glyphicon-transfer" ng-class="{'gly-spin': loading()}"></i>
          Transfer
        </button>
      </div>

    </fieldset>

    <fieldset>

      <br /><br />
      <div class="form-group">
        <button type="button" ng-click="reset()" class="btn btn-lg btn-danger btn-block">
          <i class="glyphicon glyphicon-cog gly-spin" ng-show="loading()"></i>
          Reset Game
        </button>
      </div>
    </fieldset>

  </form>

</div>